* {
    margin: 0;
}

header {
    min-height: 18vh;
    background-color: purple;
    color: white;   
    padding: 30px; 
    background-image: url("./img/headerbg.svg");
}

.header-content {
    width: 80%;
    min-height: inherit;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.header-verse {
    font-size: 2rem;
    font-weight: 100;
} 

.header-verse > b {
    font-weight: 500;
    font-weight:lighter;
    color: orange;
}

.header-content > p {
    font-size: .8rem;
    color: rgba(245, 245, 245, 0.952);
}