* {
    margin: 0;
}

body {
    background-color: #eee;
    font-family: Inter,Roboto,Oxygen,Fira Sans,Helvetica Neue,sans-serif;
}

header {
    min-height: 12vh;
    background-color: purple;
    color: white;   
    padding: 30px; 
    background-image: url("./img/headerbg.svg");
}

.header-content {
    width: 80%;
    min-height: inherit;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.header-verse {
    font-size: 2rem;
    font-weight: 100;
} 

.header-verse > b {
    font-weight: 500;
    font-weight:lighter;
    color: orange;
}

.header-content > p {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(245, 245, 245, 0.952);
}

.side-nav-menu {
    list-style-type: none;
    padding: 0;
    width: 25%;
    background-color: #F8F9FB;
    height: 100%;
    position: fixed; 
    overflow: auto;    
}

.side-nav-menu li {
    margin: 0;
    padding: 12px 10px;
    margin: 3px 3px;
    text-align: center;
    border-bottom: solid #F8F9FB 1px;
    background-color: #edf2f7;
}

.side-nav-menu li:hover {
    cursor: pointer;
}

.side-nav-menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    line-height: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.side-nav-menu li:hover {
    background-color: rgb(209, 207, 207);
}

.side-nav-menu > .activated-page-link, .side-nav-menu > .activated-page-link:hover {
    background-color: #00c5c1;
}

.main-content {
    margin-left: 25%;
    padding: 15px;
}

.main-content-item {
    background-color: white;
    padding: 20px;
}