* {
    margin: 0;
}

h2 {
    font-weight: 100;
    letter-spacing: 0.1rem;
}

body {
    background-color: #eee;
    font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
}

header {
    width: 100%;
    height: 22vh;
    position: fixed;
    background-color: purple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./img/headerbg.svg");
}

.header-content {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.header-verse {
    font-size: 2rem;
    font-weight: 100;
}

.header-verse > b {
    font-weight: 500;
    font-weight: lighter;
    color: orange;
}

.header-content > p {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(245, 245, 245, 0.952);
}

.app-content {
    display: flex;
    width: 100%;
    padding-top: 22vh;
    min-height: 66vh;
}

.side-nav {
    flex-basis: 3;
    flex-shrink: 0;
    min-width: 25%;
}

.side-nav-menu {
    list-style-type: none;
    padding: 0;
    background-color: #f8f9fb;
    height: 100%;
    /* position: fixed; */
    /* overflow: auto; */
}

.side-nav-menu li {
    margin: 0;
    padding: 12px 10px;
    margin: 3px 3px;
    border-bottom: solid #f8f9fb 1px;
    background-color: #edf2f7;
}

.side-nav-menu li:hover {
    cursor: pointer;
}

.side-nav-menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    line-height: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.side-nav-menu li:hover {
    background-color: rgb(209, 207, 207);
}

.side-nav-menu > .activated-page-link,
.side-nav-menu > .activated-page-link:hover {
    background-color: #00c5c1;
}

.main-content {
    flex-basis: 2;
    flex-grow: 1;
    padding: 15px;
    overflow: auto;
}

.main-content-item {
    background-color: white;
    padding: 20px;
}

/* Members table styling */
.members-table, .add-member-form-container {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    min-height: 100px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    text-align: left;
}

/* .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
} */

.table .table {
    background-color: #fff;
}

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

/* .table-bordered {
    border-bottom: 1px solid #eceeef;
} */

.table-bordered th,
.table-bordered td {
    border-bottom: 1px solid #eceeef;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
    background-color: #dff0d8;
}

.btn {
    font-size: 15px;
    background-color: #00c5c1;
    margin-bottom: 0;
    text-decoration: none;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;    
    padding: 6px 12px; 
    color: white;
}

/* default button styling */
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    /* color: #333; */
    border-color: #00c5c1;
}

.btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.add-member-btn-container {
    text-align: right;
}
